@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "cheltenham";
    font-style: normal;
    font-display: swap;
    src: url(/src/assets/fonts/Cheltenham.woff2) format("woff2");
  }

  @font-face {
    font-family: "nyt-cheltenham";
    font-style: normal;
    font-display: swap;
    src: url(/src/assets/fonts/CheltenhamStdBold.woff) format("woff");
  }

  @font-face {
    font-family: "imperial";
    font-style: normal;
    font-display: swap;
    src: url(/src/assets/fonts/Imperial_Regular.otf) format("opentype");
  }

  @font-face {
    font-family: "franklin-500";
    font-style: normal;
    font-display: swap;
    src: url(/src/assets/fonts/franklin-normal-500.ttf) format("opentype");
  }

  @font-face {
    font-family: "franklin-700";
    font-style: normal;
    font-display: swap;
    src: url(/src/assets/fonts/franklin-normal-700.ttf) format("opentype");
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

.container {
  border-top: 1px solid var(--color-stroke-primary, #121212);
  padding-top: 20px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}